@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRyS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  10% {
    transform: translate(0px, -1px) rotate(0deg);
  }
  20% {
    transform: translate(0px, -1px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 1px) rotate(2deg);
  }
  40% {
    transform: translate(0px, 1px) rotate(3deg);
  }
  50% {
    transform: translate(0px, -1px) rotate(4deg);
  }
  60% {
    transform: translate(0px, -1px) rotate(5deg);
  }
  70% {
    transform: translate(0px, 1px) rotate(4deg);
  }
  80% {
    transform: translate(0px, 1px) rotate(3deg);
  }
  90% {
    transform: translate(0px, -1px) rotate(2deg);
  }
  100% {
    transform: translate(0px, -1px) rotate(1deg);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat';
  color: #232328;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat';
  color: #232328;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: row;
  height: 5.8rem;
  width: 100%;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    height: 1px;
  }
}
header .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  header .navigation {
    flex-direction: column;
  }
}
header .navigation img {
  width: 75px;
  padding: 0 0 0 2.5rem;
}
@media (max-width: 799px) {
  header .navigation img {
    display: none;
  }
}
header .navigation img:hover {
  color: #ffffff;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
header .navigation h1 {
  font-size: 1.7vw;
  background-color: #ffffff;
  width: 11.8%;
  padding-left: 1rem;
  text-decoration: none;
}
header .navigation h1 a {
  text-decoration: none;
  color: black;
}
header .navigation h1 a:hover {
  text-decoration: none;
}
@media (max-width: 500px) {
  header .navigation h1 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
}
header .navigation nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 61.7%;
  background-color: #4e4e4e;
  height: 6.2rem;
}
@media (max-width: 500px) {
  header .navigation nav {
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  header .navigation nav {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: 12rem;
  }
}
header .navigation nav a {
  text-decoration: none;
  color: #46d2a3;
  font-size: 2rem;
}
@media (max-width: 799px) {
  header .navigation nav a {
    font-size: 2.3vw;
  }
}
@media (max-width: 500px) {
  header .navigation nav a {
    font-size: 2rem;
  }
}
@media (max-width: 300px) {
  header .navigation nav a {
    padding-top: 1rem;
  }
}
header .navigation nav a:hover {
  color: #ffffff;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
header .navigation .topButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4e4e4e;
  height: 6.2rem;
  width: 22.1%;
}
@media (max-width: 799px) {
  header .navigation .topButtons {
    width: 28%;
  }
}
@media (max-width: 500px) {
  header .navigation .topButtons {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 300px) {
  header .navigation .topButtons {
    height: 8rem;
  }
}
header .navigation .topButtons .Btn {
  font-size: 1.8rem;
  width: 13rem;
  background-color: #ffffff;
  height: 4rem;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  color: #46d2a3;
  width: 49%;
  padding: 1.3rem;
}
@media (max-width: 500px) {
  header .navigation .topButtons .Btn {
    width: 100%;
  }
}
header .navigation .topButtons .Btn:hover {
  background: #46d2a3;
  color: #ffffff;
}
header .navigation .topButtons .Btn:hover a {
  color: #ffffff;
}
header .navigation .topButtons .Btn-Inverse {
  font-size: 1.8rem;
  color: #ffffff;
  width: 13rem;
  background-color: #46d2a3;
  height: 4rem;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  width: 49%;
  padding: 1.3rem;
}
@media (max-width: 500px) {
  header .navigation .topButtons .Btn-Inverse {
    width: 100%;
  }
}
header .navigation .topButtons .Btn-Inverse:hover {
  font-size: 1.8rem;
  color: #46d2a3;
  width: 13rem;
  background-color: #ffffff;
  height: 4rem;
  border: none;
  text-align: center;
  font-size: 1.6rem;
  width: 49%;
}
@media (max-width: 500px) {
  header .navigation .topButtons .Btn-Inverse:hover {
    width: 100%;
  }
}
.upperFooter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px black solid;
}
@media (max-width: 500px) {
  .upperFooter {
    width: 100%;
    margin: 0rem;
  }
}
@media (max-width: 500px) {
  .upperFooter .aButton {
    width: 100%;
  }
}
.upperFooter nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 6.2rem;
}
@media (max-width: 500px) {
  .upperFooter nav {
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 300px) {
  .upperFooter nav {
    flex-direction: column;
    height: 10rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    border-top: 1px black solid;
  }
}
.upperFooter nav a {
  text-decoration: none;
  color: #46d2a3;
  font-size: 1.7rem;
}
@media (max-width: 300px) {
  .upperFooter nav a {
    padding-top: 1rem;
  }
}
.upperFooter nav a:hover {
  color: #232328;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.upperFooter button {
  font-family: Montserrat;
  font-size: 1.8rem;
  color: #ffffff;
  width: 19rem;
  height: 5rem;
  border: none;
  border-radius: 7px;
  background-color: #46d2a3;
  text-align: center;
}
@media (max-width: 500px) {
  .upperFooter button {
    width: 100%;
    border-radius: 0px;
  }
}
.upperFooter button:focus {
  outline: 0;
}
.upperFooter button:hover {
  background: #ffffff;
  color: #46d2a3;
}
footer {
  margin-bottom: 15rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (max-width: 500px) {
  footer {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
footer p {
  padding-top: 2rem;
}
@media (max-width: 500px) {
  footer p {
    padding: 0;
  }
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 24rem;
  background-image: url(/img/bbh-singapore-d2hs0gRFCpQ-unsplashOPACITYCHANGED.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 64%;
  height: 100rem;
}
@media (max-width: 799px) {
  section {
    height: 75rem;
  }
}
@media (max-width: 500px) {
  section {
    padding-top: 18rem;
    padding-bottom: 8rem;
    height: 50rem;
    background-position: 50% 100%;
  }
}
@media (max-width: 300px) {
  section {
    height: 2rem;
  }
}
section img {
  width: 30rem;
}
@media (max-width: 500px) {
  section img {
    width: 10rem;
  }
}
@media (max-width: 300px) {
  section img {
    display: none;
  }
}
section img:hover {
  color: #ffffff;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
section p {
  font-size: 6rem;
  color: #232328;
}
@media (max-width: 500px) {
  section p {
    font-size: 3rem;
    padding-left: 1rem;
  }
}
@media (max-width: 300px) {
  section p {
    display: none;
  }
}
section .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 300px) {
  section .logo {
    display: flex;
    flex-direction: row;
  }
}
section h1 {
  font-size: 5rem;
  color: #232328;
}
@media (max-width: 799px) {
  section h1 {
    padding-bottom: 2rem;
    display: none;
  }
}
@media (max-width: 500px) {
  section h1 {
    font-size: 2rem;
    display: inline;
  }
}
@media (max-width: 300px) {
  section h1 {
    display: none;
  }
}
section button {
  font-family: Montserrat;
  font-size: 1.8rem;
  color: #ffffff;
  width: 19rem;
  height: 5rem;
  border: none;
  border-radius: 7px;
  background-color: #46d2a3;
  text-align: center;
}
@media (max-width: 300px) {
  section button {
    display: none;
  }
}
section button:hover {
  background: #ffffff;
  color: #46d2a3;
}
section button:focus {
  outline: 0;
}
section button {
  font-size: 1.8rem;
  color: #ffffff;
  width: 19rem;
  height: 5rem;
  border: none;
  border-radius: 7px;
  background-color: #46d2a3;
  text-align: center;
}
section button:hover {
  background: #ffffff;
  color: #46d2a3;
}
@media (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0rem 5rem;
  }
}
.content .upper {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .content .upper {
    flex-direction: column;
  }
}
.content .upper img {
  width: 50%;
  height: 100%;
}
@media (max-width: 500px) {
  .content .upper img {
    width: 100%;
  }
}
.content .upper .topContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}
.content .upper .topContent h2 {
  font-size: 2vw;
  padding-top: 0.5rem;
}
@media (max-width: 799px) {
  .content .upper .topContent h2 {
    font-size: 2.2rem;
  }
}
.content .upper .topContent p {
  padding-top: 1rem;
  font-size: 1.5vw;
}
@media (max-width: 799px) {
  .content .upper .topContent p {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .content .upper .topContent p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .content .upper .topContent {
    padding: 0;
  }
  .content .upper .topContent h2 {
    padding-top: 2rem;
  }
  .content .upper .topContent p {
    padding-top: 2rem;
  }
}
.content .lower {
  display: flex;
  padding-bottom: 12rem;
}
@media (max-width: 500px) {
  .content .lower {
    flex-direction: column;
    padding-bottom: 0rem;
  }
}
.content .lower img {
  width: 50%;
  height: 100%;
}
@media (max-width: 500px) {
  .content .lower img {
    width: 100%;
  }
}
.content .lower .bottomContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}
.content .lower .bottomContent h2 {
  font-size: 2vw;
  padding-top: 0.5rem;
}
@media (max-width: 799px) {
  .content .lower .bottomContent h2 {
    font-size: 2.2rem;
  }
}
.content .lower .bottomContent p {
  padding-top: 1rem;
  font-size: 1.5vw;
}
@media (max-width: 799px) {
  .content .lower .bottomContent p {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .content .lower .bottomContent p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .content .lower .bottomContent {
    padding: 0;
  }
  .content .lower .bottomContent h2 {
    padding-top: 2rem;
  }
  .content .lower .bottomContent p {
    padding-top: 2rem;
  }
}
.emps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
}
@media (max-width: 799px) {
  .emps {
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media (max-width: 500px) {
  .emps {
    margin-top: 10rem;
  }
}
@media (max-width: 300px) {
  .emps {
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 20rem;
  }
}
.emps .empNum1 {
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  width: 50%;
}
@media (max-width: 500px) {
  .emps .empNum1 {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
.emps .empNum1 img {
  width: 120px;
  height: 120px;
  border-radius: 180px;
  box-shadow: 10px 10px 25px #46d2a3;
}
@media (max-width: 500px) {
  .emps .empNum1 img {
    width: 10rem;
    height: 10rem;
  }
}
@media (max-width: 300px) {
  .emps .empNum1 img {
    width: 10rem;
    height: 10rem;
  }
}
.emps .empNum1 img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.emps .empNum1 .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
  text-align: center;
}
.emps .empNum1 .info h2 {
  font-size: 2vh;
}
@media (max-width: 500px) {
  .emps .empNum1 .info {
    width: 100%;
    align-items: center;
  }
  .emps .empNum1 .info h2 {
    font-size: 2.2vh;
  }
}
@media (max-width: 300px) {
  .emps .empNum1 .info p {
    font-size: 1.4vh;
  }
}
