// Navigation code here
header {
  display: flex;
  flex-direction: row;
  height: 5.8rem;
  width: 100%;

  @media @phone {
    flex-direction: column;
    height: 10px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    @media @phone {
      flex-direction: column;
    }

    img {
      width: 75px;
      padding: 0 0 0 2.5rem;
      @media @phone {
        display: none;
      }
    }

    img:hover {
      .navHover(@white);
      .shake;
    }

    h1 {
      font-size: 1.7vw;
      background-color: @white;
      width: 11.8%;
      padding-left: 1rem;
      text-decoration: none;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          text-decoration: none;
        }
      }
      @media @phone {
        font-size: 3rem;
        width: 100%;
        text-align: center;
      }
    }

    nav {
      display: flex;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      width: 64.7%;
      background-color: @brown;
      height: 6.2rem;
      // border: 1px red solid;
      @media @phone {
        width: 100%;
        height: 3rem;
      }

      @media @tinyPhone {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 2rem;
        height: 12rem;
      }

      a {
        text-decoration: none;
        color: @green;
        font-size: 2rem;
        @media @tablet{
          font-size: 2.3vw;
        }
        @media @phone{
          font-size: 2rem;
        }
        @media @tinyPhone {
          padding-top: 1rem;
        }
      }
      a:hover {
        .navHover(@white);
        .shake;
      }
    }
  }
  .topButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: @brown;
    height: 6.2rem;
    width: 19.1%;
    // border: 1px red solid;

    @media @phone {
      flex-direction: column;
      width: 100%;
    }

    @media @tinyPhone {
      height: 8rem;
    }

    .loginBtn {
      a {
        text-decoration: none;
        color: @green;
        &:hover {
          text-decoration: none;
          color: @white;
        }
      }
      @media @phone {
        width: 100%;
      }
      .whiteBtn-params(@green, @white);
    }

    .loginBtn:hover {
      
      .hover-specs(@green, @white);
    }

    .registerBtn {
      text-decoration: none;
      a {
        text-decoration: none;
        color: @white;
        &:hover {
          text-decoration: none;
          color: @green;
        }
      }
      @media @phone {
        width: 100%;
      }
      .greenBtn-params(@white, @green);
    }

    .registerBtn:hover {
      
      .hover-specs(@white, @green);
    }
  }
}
