// Navigation code here
header {
  display: flex;
  flex-direction: row;
  height: 5.8rem;
  width: 100%;

  @media @phone {
    flex-direction: column;
    height: 1px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    @media @phone {
      flex-direction: column;
    }

    img {
      width: 75px;
      padding: 0 0 0 2.5rem;
      @media @tablet {
        display:none;
      }
    }

    img:hover {
      .navHover(@white);
      .shake;
    }

    h1 {
      font-size: 1.7vw;
      background-color: @white;
      width: 11.8%;
      padding-left: 1rem;
      text-decoration: none;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          text-decoration: none;
        }
      }
      @media @phone {
        font-size: 3rem;
        width: 100%;
        text-align: center;
      }
    }

    nav {
      display: flex;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      width: 61.7%;
      background-color: @brown;
      height: 6.2rem;
      // border: 1px red solid;
      @media @phone {
        width: 100%;
        height: 4rem;
        // margin-bottom: 2rem;
      }

      @media @tinyPhone {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 2rem;
        height: 12rem;
      }

      a {
        text-decoration: none;
        color: @green;
        font-size: 2rem;
        @media @tablet {
          font-size: 2.3vw;
        }
        @media @phone {
          font-size: 2rem;
        }
        @media @tinyPhone {
          padding-top: 1rem;
        }
      }
      a:hover {
        .navHover(@white);
        .shake;
      }
    }
  
    .topButtons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: @brown;
      height: 6.2rem;
      width: 22.1%;

      @media @tablet{
        width:28%;
      }

      @media @phone {
        flex-direction: column;
        width: 100%;
      }

      @media @tinyPhone {
        height: 8rem;
      }

      .Btn {
        .whiteBtn-params(@green, @white);
        text-align: center;
        text-decoration: none;
        font-size: 1.6rem;
        color: @green;
        width: 49%;
        padding: 1.3rem;
        @media @phone {
          width: 100%;
        }
      }

      .Btn:hover {
        .hover-specs(@green, @white);
        a {
          color: @white;
        }
      }

      .Btn-Inverse {
        .whiteBtn-params(@white, @green);
        text-align: center;
        text-decoration: none;
        font-size: 1.6rem;
        width: 49%;
        padding: 1.3rem;
        @media @phone {
          width: 100%;
        }
      }
      .Btn-Inverse:hover {
        .whiteBtn-params(@green, @white);
        font-size: 1.6rem;
        width: 49%;

        @media @phone {
          width: 100%;
        }
      }
    }
  }  
}